* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #181A1B;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(245, 245, 245);
}

#logo {
    max-width: 200px;
}

header {
    border-bottom: 2px solid rgb(56, 60, 63);
}

.container {
    padding-top: 50px;
    max-width: 200px;
}

#img-plant {
    width: 300px;
    border-radius: 5px;
}

#cell-img, #cell-info {
    width: 350px;
}

table {
    margin-top: 50px;
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid #2B7C5B;
    background-color: #2B7C5B;
    border-radius: 5px;
    display: none;
}

td {
    padding-top: 20px;
    padding-bottom: 20px
}

#howToDisplay {
    margin-top: 50px;
    background: #2B7C5B;
    padding: 10px;
    max-width: 50rem;
    border-radius: 5px;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
52796f blueish
606c38 light green
283618 dark green
*/