* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #181A1B;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(245, 245, 245);
}

#logo {
    width: 50%;
}

header {
    padding: 20px;
    border-bottom: 2px solid rgb(56, 60, 63);
}

#selection {
    padding-top: 50px;
}

#img-plant {
    width: 300px;
}

#cell-img, #cell-info {
    width: 350px;
}

table {
    margin-top: 50px;
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid #606c38;
    background-color: #606c38;
    border-radius: 15px;
}

td {
    padding-top: 20px;
    padding-bottom: 20px
}

/*
52796f blueish
606c38 light green
283618 dark green